body {
  font-family: 'Roboto', sans-serif; }
  body a {
    text-decoration: none; }

* {
  margin: 0; }

img {
  max-width: 100%; }

input:focus, button:focus {
  outline: none; }

.hidden-desc {
  display: none; }

.section-title {
  margin-bottom: 39px;
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #313131; }
  .section-title::after {
    content: '';
    margin-top: 12px;
    display: block;
    height: 6px;
    background: url(../img/line.png) center no-repeat; }

.button {
  position: relative;
  padding: 13px 22px;
  border-radius: 5px;
  font-size: 14px;
  background-color: #ff9d00;
  border: 1px solid #ff9d00;
  color: #ffffff;
  cursor: pointer;
  outline: none; }
  .button img {
    vertical-align: middle;
    margin-right: 7px; }
  .button:hover {
    border: 1px solid #ff9d00;
    color: #ff9d00;
    background-color: transparent; }
    .button:hover .btn-img {
      display: none; }
    .button:hover .btn-img__active {
      display: inline-block; }
  .button .btn-img__active {
    display: none; }
  .button-o {
    background-color: transparent;
    color: rgba(55, 55, 55, 0.5);
    border: 1px solid rgba(55, 55, 55, 0.5); }
  .button_big {
    line-height: 22px;
    padding-top: 13px;
    padding-bottom: 13px;
    vertical-align: middle;
    -ms-flex-preferred-size: 34%;
    flex-basis: 34%; }
    .button_big:hover {
      color: #ff9d00;
      background-color: #fff; }

.slider-arrow {
  position: absolute;
  top: 0;
  z-index: 5;
  height: 100%;
  width: 22px;
  border: 1px solid #ff9d00; }
  .slider-arrow:hover {
    cursor: pointer; }
  .slider-arrow_right {
    right: 0;
    background: url(../img/arrow-next.png) center no-repeat; }
    .slider-arrow_right:hover {
      background: #ff9d00 url(../img/arrow-next_active.png) center no-repeat; }
  .slider-arrow_left {
    left: 0;
    background: url(../img/arrow-prev.png) center no-repeat; }
    .slider-arrow_left:hover {
      background: #ff9d00 url(../img/arrow-prev_active.png) center no-repeat; }

.dark-bg {
  position: relative;
  z-index: 2; }
  .dark-bg::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1; }

.header-logo {
  background: url(../img/header/logo.png) center no-repeat;
  background-size: 100%;
  width: 191px;
  height: 61px; }

.header .row {
  padding-top: 59px;
  padding-bottom: 13px; }

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header-contacts__phone {
    color: #373737;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 13px;
    padding-right: 27px; }
    .header-contacts__phones {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .header-contacts__phone:hover {
      text-decoration: none;
      color: #373737; }
    .header-contacts__phone:first-child {
      border-right: 2px solid #cecdce;
      padding-right: 13px; }

.main {
  position: relative;
  padding-top: 65px;
  padding-bottom: 60px;
  background: #373737 url(../img/main/bg-main.jpg) center no-repeat;
  background-size: cover;
  color: #ffffff;
  z-index: 2; }
  .main-img {
    width: 150%;
    position: relative;
    -webkit-transform: translate(-22%, 0);
    transform: translate(-22%, 0); }
    .main-img::before {
      content: '';
      position: absolute;
      left: 50%;
      width: 390px;
      height: 390px;
      border: 1px solid #ffffff;
      border-radius: 50%;
      z-index: -1;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0); }
  .main-text__title {
    margin-bottom: 7px;
    font-weight: 700;
    font-size: 41px;
    line-height: 42px; }
  .main-text__subtitle {
    padding-bottom: 24px;
    font-size: 28px;
    font-weight: 300; }
  .main-text__form {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 22px 27px; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 12px; }
  .form-title {
    padding-right: 70px;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 16px; }
    .form-title__important {
      display: block;
      font-weight: 700;
      text-transform: uppercase; }
  .form__input {
    padding: 20px;
    border-radius: 4px;
    border: none;
    -ms-flex-preferred-size: 64%;
    flex-basis: 64%;
    vertical-align: middle; }
  .form-small {
    margin-left: 19px;
    font-size: 14px;
    font-weight: 300; }

.numbers {
  padding-top: 50px;
  padding-bottom: 37px;
  text-align: center; }
  .numbers-block {
    display: inline-block;
    width: 31%;
    vertical-align: top; }
    .numbers-block__title {
      margin-bottom: 8px;
      font-size: 36px;
      font-weight: 900;
      color: #ff9d00; }
      .numbers-block__title sup {
        font-size: 18px; }
    .numbers-block__text {
      font-size: 16px;
      font-weight: 400; }

.features {
  padding-bottom: 25px;
  color: #373737;
  background-color: #f4f4f4; }
  .features-blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .features-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-preferred-size: 31%;
    flex-basis: 31%;
    background-color: #ffffff;
    padding: 28px 15px;
    margin-bottom: 30px; }
    .features-block__img {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      margin-right: 10px; }
    .features-block__title {
      font-size: 15px;
      font-weight: 700;
      margin-bottom: 7px; }
    .features-block__descr {
      font-size: 14px;
      font-weight: 300;
      word-wrap: break-word; }

.products {
  padding-top: 57px;
  padding-bottom: 73px;
  color: #313131; }
  .products-block {
    margin-bottom: 35px;
    vertical-align: top;
    text-align: center; }
    .products-block__img {
      margin-bottom: 19px; }
    .products-block__title {
      margin-bottom: 28px;
      font-size: 20px;
      font-weight: 700; }

.offer {
  position: relative;
  background: #373737 url("../img/offer/offer-bg.jpg") center no-repeat;
  background-size: cover; }
  .offer-form {
    padding: 64px 0 69px 0;
    color: #ffffff; }
    .offer-form-header {
      padding: 0;
      font-size: 32px;
      font-weight: 400;
      text-align: center; }
      .offer-form-header span {
        display: block;
        margin-top: 7px;
        font-size: 26px; }
    .offer-form__label {
      display: block;
      margin-top: 28px;
      font-size: 20px;
      font-weight: 300;
      line-height: 30px; }
    .offer-form__input {
      margin-top: 17px;
      margin-bottom: 12px;
      padding-top: 21px;
      padding-bottom: 21px;
      padding-left: 18px;
      border-radius: 4px;
      border: none;
      width: 365px;
      height: 56px;
      text-align: center;
      font-size: 14px;
      font-weight: 300;
      line-height: 42px;
      color: rgba(55, 55, 55, 0.7); }
    .offer-form__btn {
      display: block;
      width: 180px;
      height: 56px;
      margin: auto;
      font-size: 15px;
      font-weight: 500;
      line-height: 22px; }
      .offer-form__btn:hover {
        color: #ffffff;
        background-color: #ffb133; }
    .offer-form__note {
      margin-top: 9px;
      font-size: 14px;
      font-weight: 300; }

.production {
  padding-top: 87px;
  padding-bottom: 90px; }
  .production-text__title {
    position: relative;
    margin-top: 19px;
    margin-bottom: 19px;
    padding: 19px 0;
    background: #ff9d00;
    color: #ffffff;
    font-size: 28px;
    font-weight: 400; }
    .production-text__title::before {
      display: inline-block;
      position: absolute;
      z-index: -1;
      top: 0;
      left: -99%;
      content: '';
      height: 100%;
      width: 100%;
      background: #ff9d00; }
  .production-text__descr {
    color: #373737;
    text-align: justify;
    font-size: 16px;
    font-weight: 300; }
    .production-text__descr p {
      margin-bottom: 15px; }
  .production-slider_top {
    margin-bottom: 13px;
    overflow-y: hidden; }
    .production-slider_top .slider_img1 {
      height: 377px;
      background: url(../img/production/photo-1.jpg) center no-repeat; }
    .production-slider_top .slider_img2 {
      height: 377px;
      background: url(../img/production/photo-2.jpg) center no-repeat; }
    .production-slider_top .slider_img3 {
      height: 377px;
      background: url(../img/production/photo-3.jpg) center no-repeat; }
    .production-slider_top .slider_img4 {
      height: 377px;
      background: url(../img/production/photo-4.jpg) center no-repeat; }
  .production-slider_bottom {
    overflow-x: hidden;
    padding: 0 27px; }
    .production-slider_bottom .slick-current {
      -webkit-filter: brightness(100%);
      filter: brightness(100%); }
    .production-slider_bottom img {
      height: 78px;
      margin: 0 3px;
      -webkit-filter: brightness(50%);
      filter: brightness(50%); }

.partners {
  padding-bottom: 30px;
  text-align: center; }
  .partners .partner {
    position: relative;
    margin-bottom: 32px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 130px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
    .partners .partner img {
      padding: 5px;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .partners .partner:hover {
      -webkit-filter: none;
      filter: none; }

.feedbacks {
  padding-top: 55px;
  padding-bottom: 71px;
  background: #f4f4f4; }
  .feedbacks .feedback-slider {
    margin: 0 auto;
    padding-right: 30px;
    padding-left: 30px; }
    .feedbacks .feedback-slider__img {
      outline: none;
      margin: 0 auto 0 auto; }
      .feedbacks .feedback-slider__img img {
        margin: 0 auto 0 auto;
        border: 1px solid rgba(0, 0, 0, 0.1);
        outline: none;
        padding: 0;
        height: 376px; }
    .feedbacks .feedback-slider .slider-arrow {
      border: none; }

.contacts {
  position: relative; }
  .contacts-block {
    position: absolute;
    top: 73px;
    left: 20%;
    z-index: 1;
    width: 315px;
    padding: 33px;
    padding-left: 61px;
    background-color: #fff;
    color: #373737;
    font-size: 16px;
    font-weight: 300; }
    .contacts-block__icon {
      position: absolute;
      top: 5px;
      left: -30px; }
    .contacts-block__address {
      margin-bottom: 13px; }
      .contacts-block__addresses {
        position: relative; }
    .contacts-block__title {
      margin-bottom: 4px;
      font-size: 18px;
      font-weight: 700;
      display: block; }
    .contacts-block__phone {
      display: block;
      color: #373737; }
      .contacts-block__phones {
        position: relative;
        margin-top: 31px;
        margin-bottom: 14px; }
      .contacts-block__phone:hover {
        color: #373737; }
    .contacts-block__mail {
      color: #373737; }
      .contacts-block__mails {
        position: relative;
        margin-top: 25px; }
      .contacts-block__mail:hover {
        color: #373737; }

.footer {
  position: relative;
  height: 88px;
  width: 100%;
  background-color: #1b1b1b;
  text-align: center; }
  .footer-text {
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0.5;
    color: #ffffff;
    font-size: 13px;
    font-weight: 300; }

.overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.5); }
  .overlay .popup {
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 100px;
    width: 750px; }
    .overlay .popup-close {
      position: absolute;
      right: -20px;
      top: -35px;
      font-size: 35px;
      color: #ffffff;
      font-weight: 300;
      cursor: pointer; }
    .overlay .popup-title {
      display: block;
      width: 100%;
      max-height: 68px;
      margin: 0;
      background-color: #ff9d00;
      color: #ffffff;
      font-size: 21px;
      font-weight: 500;
      line-height: 68px;
      text-transform: uppercase;
      text-align: center; }
    .overlay .popup-form {
      background: url("../img/modal/bg-form.jpg") center no-repeat;
      background-size: cover;
      padding: 37px 87px 49px 87px;
      color: #ffffff; }
      .overlay .popup-form-header {
        padding: 0;
        font-size: 30px;
        font-weight: 400;
        line-height: 27px;
        text-align: center; }
        .overlay .popup-form-header span {
          display: block;
          font-size: 24px; }
      .overlay .popup-form__label {
        display: block;
        margin-top: 23px;
        font-size: 20px;
        font-weight: 300;
        line-height: 30px; }
      .overlay .popup-form__input {
        margin-top: 17px;
        padding-top: 21px;
        padding-bottom: 21px;
        padding-left: 18px;
        border-radius: 4px;
        border: none;
        width: 365px;
        height: 56px;
        font-size: 14px;
        font-weight: 300;
        line-height: 42px;
        color: rgba(55, 55, 55, 0.7); }
      .overlay .popup-form__btn {
        width: 180px;
        height: 56px;
        margin-left: 16px;
        font-size: 15px;
        font-weight: 500;
        line-height: 22px; }
        .overlay .popup-form__btn:hover {
          color: #ffffff;
          background-color: #ffb133; }
      .overlay .popup-form__note {
        margin-top: 9px;
        font-size: 14px;
        font-weight: 300; }

@media (max-width: 1200px) {
  .main-img {
    width: 100%;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
    .main-img::before {
      height: 300px;
      width: 300px; }
  .header-contacts__phone {
    font-size: 20px; }
  .contacts-block {
    left: 15%; } }

@media (max-width: 991px) {
  .hidden-mobile {
    display: none; }
  .hidden-desc {
    display: block; }
  .hidden-map {
    display: none; }
  .mobile_bold {
    font-weight: 900; }
  .header .row {
    padding-top: 10px; }
  .header-contacts__phone {
    font-size: 22px;
    font-weight: 400; }
    .header-contacts__phones {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .header-contacts__phone:first-child {
      border: none; }
  .main-text {
    text-align: center; }
  .form-title {
    padding: 0; }
  .overlay .popup {
    top: 60px;
    width: 90%; }
    .overlay .popup-close {
      display: block;
      width: 100%;
      right: 0;
      top: -60px;
      text-align: center;
      height: 60px; }
    .overlay .popup-form {
      padding: 0;
      padding-top: 15px; }
      .overlay .popup-form__input {
        width: 95%;
        max-width: 365px;
        margin-bottom: 10px;
        text-align: center;
        padding-left: 0; }
  .features-blocks {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .features-block {
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
    margin-bottom: 8px;
    max-width: 290px; }
  .features .numbers {
    padding-top: 24px;
    padding-bottom: 0; }
    .features .numbers-block {
      margin-bottom: 24px;
      width: 45%; }
      .features .numbers-block__title {
        font-size: 36px; }
        .features .numbers-block__title sup {
          font-size: 18px; }
      .features .numbers-block__text {
        font-size: 16px; }
  .offer-form {
    padding: 50px 0; }
    .offer-form-header {
      font-size: 20px; }
      .offer-form-header span {
        font-size: 16px; }
    .offer-form__input {
      width: 95%;
      max-width: 365px;
      margin-bottom: 10px;
      text-align: center;
      padding-left: 0; }
    .offer-form__label {
      margin-top: 20px;
      font-size: 14px; }
  .production {
    padding-top: 28px;
    padding-bottom: 0; }
    .production-text {
      text-align: center; }
      .production-text__title {
        margin-bottom: 19px;
        padding: 19px;
        font-size: 26px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase; }
        .production-text__title::before {
          display: none; }
      .production-text__descr {
        text-align-last: center; }
    .production-slider_top_mobile {
      margin-bottom: 56px;
      overflow-y: hidden; }
      .production-slider_top_mobile .slider_img1 {
        height: 380px;
        background: url(../img/production/photo-1.jpg) center no-repeat; }
      .production-slider_top_mobile .slider_img2 {
        height: 380px;
        background: url(../img/production/photo-2.jpg) center no-repeat; }
      .production-slider_top_mobile .slider_img3 {
        height: 380px;
        background: url(../img/production/photo-3.jpg) center no-repeat; }
      .production-slider_top_mobile .slider_img4 {
        height: 380px;
        background: url(../img/production/photo-4.jpg) center no-repeat; }
    .production .slider-arrow {
      height: 79px;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%); }
      .production .slider-arrow_right {
        right: 0;
        background: #ff9d00 url(../img/arrow-next_active.png) center no-repeat; }
      .production .slider-arrow_left {
        left: 0;
        background: #ff9d00 url(../img/arrow-prev_active.png) center no-repeat; }
  .partners .partner {
    -webkit-filter: none;
    filter: none; }
  .feedbacks {
    text-align: center; }
    .feedbacks .slider-arrow {
      height: 79px;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%); }
      .feedbacks .slider-arrow_right {
        right: 0;
        background: #ff9d00 url(../img/arrow-next_active.png) center no-repeat; }
      .feedbacks .slider-arrow_left {
        left: 0;
        background: #ff9d00 url(../img/arrow-prev_active.png) center no-repeat; }
    .feedbacks .feedback-slider {
      padding: 0;
      width: 590px;
      margin: auto; }
      .feedbacks .feedback-slider__img img {
        width: 274px; } }

@media (max-width: 767px) {
  .hidden-mobile-768 {
    display: none; }
  .mobile_bold {
    font-weight: 900; }
  .section-title {
    margin-bottom: 18px; }
    .section-title::after {
      display: none; }
  .header .row {
    padding-top: 10px; }
  .header-logo {
    background: #ff9d00 url(../img/header/logo-mobile.png) center no-repeat;
    width: 36px;
    height: 35px;
    border-radius: 4px; }
  .header-contacts__phone {
    font-size: 14px;
    font-weight: 400; }
    .header-contacts__phones {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .header-contacts__phone:first-child {
      border: none; }
  .header-contacts__button {
    padding: 6px;
    margin: 0; }
    .header-contacts__button img {
      vertical-align: middle;
      margin: 0; }
  .main {
    padding: 50px 0; }
    .main-text {
      text-align: center; }
      .main-text__title {
        font-size: 22px;
        font-weight: 700;
        line-height: 24px;
        color: #ff9d00; }
      .main-text__subtitle {
        font-size: 18px;
        font-weight: 400; }
      .main-text__form {
        padding: 0;
        background-color: transparent; }
  .form {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .form-title {
      padding: 0;
      font-size: 15px;
      line-height: 18px; }
      .form-title__important {
        margin-top: 12px; }
    .form__input {
      width: 100%;
      max-width: 290px;
      text-align: center;
      padding: 17px;
      margin-bottom: 12px; }
    .form-small {
      margin: 0; }
  .overlay .popup-title {
    font-size: 15px; }
  .overlay .popup-form {
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px; }
    .overlay .popup-form-header {
      font-size: 22px;
      padding: 15px 5px 15px 5px; }
      .overlay .popup-form-header span {
        font-size: 18px; }
    .overlay .popup-form__input {
      width: 95%;
      max-width: 365px;
      margin-bottom: 10px;
      text-align: center;
      padding-left: 0; }
  .features-blocks {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .features-block {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 8px;
    max-width: 290px; }
  .features .numbers {
    padding-top: 24px;
    padding-bottom: 0; }
    .features .numbers-block {
      margin-bottom: 24px;
      width: 85%; }
      .features .numbers-block__title {
        font-size: 30px; }
        .features .numbers-block__title sup {
          font-size: 16px; }
      .features .numbers-block__text {
        font-size: 14px; }
  .products {
    padding-bottom: 7px; }
  .partners {
    padding: 30px 15px; }
    .partners .partner {
      display: block;
      margin: auto;
      margin-bottom: 5px;
      -webkit-filter: none;
      filter: none;
      height: 80px; }
      .partners .partner img {
        max-height: 100%; }
    .partners .mobile_flex {
      padding-left: 2.5px;
      padding-right: 2.5px;
      max-width: 200px;
      margin: auto; }
  .feedbacks {
    padding-top: 36px;
    padding-bottom: 40px; }
    .feedbacks .feedback-slider {
      padding: 0;
      width: 100%;
      margin: auto; }
  .contacts {
    padding-bottom: 15px; }
    .contacts-block {
      margin: auto;
      position: relative;
      text-align: center;
      top: 0;
      left: 0;
      padding: 36px 0px 28px 0px;
      font-size: 14px; }
      .contacts-block__mail {
        margin-top: 20px; }
      .contacts-block__icon {
        left: 10%; }
    .contacts-map {
      padding: 0px 15px; }
  .footer-text {
    font-size: 11px; } }

@media (max-width: 576px) {
  .hidde-mobile-576 {
    display: none; }
  .production {
    padding-top: 28px;
    padding-bottom: 0; }
    .production-text {
      text-align: center; }
      .production-text__title {
        margin-bottom: 19px;
        padding: 19px;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase; }
      .production-text__descr {
        text-align: justify;
        font-size: 14px;
        font-weight: 300; }
        .production-text__descr p {
          margin-bottom: 15px; }
    .production-slider_top_mobile {
      margin-bottom: 56px; }
      .production-slider_top_mobile img {
        margin: auto; } }
